# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# dotenv environment variables file
.env

# webpack.functions.js
webpack.functions.js

# locally built lambda functions
lambda/